<!DOCTYPE HTML>

<html>
  <head>
    <script src="angular.js"></script>
    <script src="traverse.js"></script>
    <script>
      /*global angular*/
      /*global traverse*/
    
      angular
      .module('stress-chart', ['ng'])
      .run(function ($rootScope, $http) {
        $http
        .get('results.json')
        .success(function (results) {
          var all = {};
          var plain = $rootScope.plain = [];
          
          traverse(results.tests)
          .forEach(function (x) {
            var item;
            
            if (this.key === 'errors') {
              item = all[this.path.slice(0, -1).join(' ')] = all[this.path.slice(0, -1).join(' ')] || {};
              item.errors = x;
            } else if (this.key === 'times') {
              item = all[this.path.slice(0, -1).join(' ')] = all[this.path.slice(0, -1).join(' ')] || {};
              item.times = x;
            }
          });
          
          for (var k in all) { 
           all[k].title = k;
           
           plain.push(all[k]);
          }
        });
      });
    </script>
  </head>
  <body ng-app="stress-chart">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th><a href="javascript:" ng-click="sort=sort=='errors' ? '-errors' : 'errors'">Errors</a></th>
          <th><a href="javascript:" ng-click="sort=sort=='times' ? '-times' : 'times'">Total</a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="r in plain|orderBy:sort">
          <th>{{r.title}}</th>
          <td>{{r.errors || 0}}</td>
          <td>{{r.times || 0}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>